@font-face {
    font-family: GothamBold;
    src: url(../fonts/Gotham-Bold.otf) format("truetype");
}

@font-face {
    font-family: GothamLight;
    src: url(../fonts/Gotham-Light.otf) format("truetype");
}

body {
    width: 350px;
    min-height: 200px;
    height: auto; 
    background-color: black;
    border: none;
}

body::-webkit-scrollbar {
    display: none;
}

#spot-title {
    text-align: center;
    margin: auto;
    color: #1DB954;
    font-family: GothamBold;
    font-size: 40px;
}

#spot-intro{
    text-align: center;
    margin: auto;
    color: #FFF;
    font-family: GothamLight;
    font-weight: lighter;
    font-size: 18px;
}

#displayName{
    color: #FFF;
    font-family: GothamBold;
    font-size: 10px;
    text-align: center;
    margin-bottom: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#sign-out {
    color: #1DB954;
    font-family: GothamBold;
    font-size: 10px;
    position: absolute;
    margin-top: 17px;
    top: 5px;
    right: 10px;
}


a {
    color: #1DB954;
    font-family: GothamBold;
    position: absolute;
    font-size: 15px;
    top: 10px;
    right: 10px;
}

h3 {
    margin: auto;
    color: #1DB954;
    font-family: GothamBold;
    font-size: large;
}

th {
    color: #FFF;
    font-family: GothamBold;
    text-align: center; 
    vertical-align: middle;
}

td {
    color: #FFF;
    font-family: GothamLight;
    text-align: center; 
    vertical-align: middle;
}


table {
    position: relative;
    margin-top: 30%;
    font-size: 20px;
}


.searchBox {
    position: absolute;
    top: 10%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    width: 200px;
    padding: 0 6px;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    font-family: "GothamLight";
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput{
    width: 150px;
    color: #FFF;
}


/* 
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: white;
  color : #2f3640;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 100px;
    padding: 0 6px;
}
} */

.btn {
	background-image: linear-gradient(to right, #1DB954 0%, #1DB954 100%);
	border-radius: 40px;
    box-sizing: border-box;
	color: #1DB954;
	display: block;
	font-family: GothamBold;
	height: 50px;
	letter-spacing: 1px;
    margin: 20px 18%;
	padding: 3px;
	position: relative;
    text-decoration: none;
	text-transform: uppercase;
	width: 250px;
	z-index: 2;
}

.btn:hover {
	color: #fff;
}

.btn span {
	align-items: center;
    background: #e7e8e9;
    padding: 1px;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.btn:hover span {
	background: transparent;
}
