@font-face {
    font-family: GothamBold;
    src: url(../fonts/Gotham-Bold.otf) format("truetype");
}

@font-face {
    font-family: GothamLight;
    src: url(../fonts/Gotham-Light.otf) format("truetype");
}

body {
    width: 350px;
    min-height: 150px;
    height: auto; 
    background-color: black;
    border: none;
}

body::-webkit-scrollbar {
    display: none;
}

#spot-title {
    text-align: center;
    margin: auto;
    color: #1DB954;
    font-family: GothamBold;
    font-size: 40px;
}

#made-by{
    font-size: 14px;
    text-align: center;
    margin: auto;
    color: #696969;
}

#made-by-link{
    color: #696969;
    text-decoration: none;
}

#made-by-link:hover{
    color: #1DB954;
}



#spot-intro{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: #FFF;
    font-family: GothamLight;
    font-weight: lighter;
    font-size: 18px;
}

#displayName{
    color: #FFF;
    font-family: GothamBold;
    font-size: 10px;
    text-align: center;
    margin-bottom: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#sign-out {
    color: #1DB954;
    font-family: GothamBold;
    font-size: 10px;
    position: absolute;
    margin-top: 17px;
    top: 5px;
    right: 10px;
}

#playlist-view-header{
    color: #1DB954;
    opacity: 0.9;
    font-size: 13px;
    text-align: center;
    font-family: GothamBold;
    margin: 3px 0px;
}

#playlists{
    border: 1px groove rgba(29,185,84,0.8);
    height: 200px; 
    margin: 10px 10px 0px 10px;
    overflow-y: scroll;
}

#playlists::-webkit-scrollbar {
    display: none;
}

#playlist-scroll{
    color: white; 
    margin-top: 30px;
    height: 160px; 
    overflow-y: scroll;
}

#playlist-scroll::-webkit-scrollbar {
    display: none;
}

.singlePlaylist{
    margin: 4px 5px;
    padding: 3px;
    width: 25%;
    display: inline-table;
}

.singlePlaylist:hover{
    opacity: 0.7;
}

.playlist-cover{
    margin: 2px;
}

.playlist-name{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#results{
    margin-top: 60px;
    padding-left: 35px;
    font-size: 13px;
    font-family: GothamLight;
    font-weight: bold;
}

#top-three-tracks{
    color: white;
    margin: 8px 75px 10px 45px;
    padding: 1px;
    font-size: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: inside;
    scrollbar-width: none;

}

#top-three-tracks li{
    margin-bottom: 3px;
}

#top-three-tracks::-webkit-scrollbar{
    background-color: rgba(255,255,255,0.5);
    width: 4px;
}

#top-three-tracks::-webkit-scrollbar-thumb {
    background-color: rgba(29,185,84,0.8);;
}

#top-three-tracks::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.top3 {
    padding-bottom: 5px;
}

.top3:hover{
    color: #1DB954;
}

.noSongMessage{
    font-size: 15px;
    color: #1DB954;
    font-family: GothamBold;
    font-weight: 3px;
    padding-bottom: 2px;
}


h3 {
    margin: auto;
    color: #1DB954;
    font-family: GothamBold;
    font-size: large;
}

th {
    color: #FFF;
    font-family: GothamBold;
    text-align: center; 
    vertical-align: middle;
}

td {
    color: #FFF;
    font-family: GothamLight;
    text-align: center; 
    vertical-align: middle;
}


table {
    position: relative;
    margin-top: 30%;
    font-size: 20px;
}

.searchPlaylist{
    border: none;
    border-bottom: inherit;
    border-bottom-color: #1DB954;
    font-family: GothamLight;
    font-size: 13px;
    background: black;
    outline:none;
    text-align: center;
    color: #FFF;
    margin: 5px 25%;
    position: fixed;
}


.searchBox {
    position: absolute;
    top: 10%;
    margin-left: 20%;
    /* left: 23%; */
    /* transform:  translate(-50%,50%); */
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    width: 200px;
    padding: 0 6px;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    font-family: "GothamLight";
    float:left;
    padding: 0;
    color: white;
    font-size: 13px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput{
    width: 150px;
    color: #FFF;
}

.btnWrap {
    color: #1DB954;
    font-family: GothamBold;
    position: absolute;
    font-size: 15px;
    top: 10px;
    right: 10px;
}

.btn {
	background-image: linear-gradient(to right, #1DB954 0%, #1DB954 100%);
	border-radius: 40px;
    box-sizing: border-box;
	color: #1DB954;
	display: block;
	font-family: GothamBold;
	height: 50px;
	letter-spacing: 1px;
    margin: 2px 0px 20px 18%;
	position: relative;
    text-decoration: none;
	text-transform: uppercase;
	width: 250px;
	z-index: 2;
}

.btn:hover {
	color: #fff;
}

.btn span {
	align-items: center;
    background: #e7e8e9;
    padding: 1px;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
	transition: background .5s ease;
	width: 100%;
}

.btn:hover span {
	background: transparent;
}

#add-song{
    width: 200px;
    text-align: center;
    align-self: center;
    margin-left: 25%;
    height: 40px;
    font-size: 18px;
}
