h2  {
    color: pink;
}

body {
    width: 300px;
    height: auto;
}
div {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 25%;
    padding: 5px;
    font-size: 2.5em;
    background-color: red;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    transition-duration: 0.3s;
}
div:hover {
    background-color: black;
    transform: translateX(-50%) scale(1.3);
}